body, html {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

#particles-js{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: block;
	overflow-y: hidden;
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0;
    border: solid 1px #dbdbdb;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

body, input, select, textarea {
    color: #9a9a9a;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
color: #32fa00;
text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
color: #555;
font-weight: 600;
}

em, i {
font-style: italic;
}

p {
margin: 0 0 2em 0;
color: rgb(31, 30, 30);
}

h1, h2, h3, h4, h5, h6 {
color: #5385c1;
line-height: 1.0;
margin: 0 0 0.5em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
font-size: 1.75em;
font-weight: 100;
}

h3 {
font-size: 1.35em;
}

h4 {
font-size: 1.1em;
}

h5 {
font-size: 0.9em;
}

h6 {
font-size: 0.7em;
}

sub {
font-size: 0.8em;
position: relative;
top: 0.5em;
}

sup {
font-size: 0.8em;
position: relative;
top: -0.5em;
}

blockquote {
border-left: solid 4px #dbdbdb;
font-style: italic;
margin: 0 0 2em 0;
padding: 0.5em 0 0.5em 2em;
}

/* Header */

.subpage {
    padding-top: 44px;
}

    .subpage #header {
        background: #32fa00;
        top: 0;
        height: 44px;
        line-height: 44px;
        position: fixed;
    }

#header {
    color: #d4e0ef;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: absolute;
    text-align: right;
    top: 2em;
    width: 100%;
    z-index: 10001;
}

    #header .inner {
        margin: 0 auto;
        position: relative;
    }

    #header .logo {
        color: #ffffff;
        display: inline-block;
        font-weight: 600;
        height: inherit;
        left: 0;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        font-size: 1em;
    }

    #header a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;
        font-size: .8em;
    }

        #header a:hover {
            color: #ffffff;
        }

        #header a:last-child {
            padding-right: 0;
        }

        #header a.navPanelToggle {
            display: none;
            text-decoration: none;
            height: 4em;
            width: 4em;
            z-index: 10003;
        }

            #header a.navPanelToggle .fa {
                font-size: 1.25em;
            }

            @media screen and (max-width: 980px) {

                #header a.navPanelToggle {
                    display: inline-block;
                }

            }

        @media screen and (max-width: 736px) {

            #header a {
                padding: 0 0.5em;
            }

        }

@media screen and (max-width: 980px) {

    #header {
        top: 3em;
        height: 44px;
        line-height: 44px;
    }

}

@media screen and (max-width: 736px) {

    #header {
        top: 2em;
    }

}

@media screen and (max-width: 480px) {

    #header {
        top: 1em;
        min-width: 320px;
    }

}

/* Nav */
nav {
    display: block;
	overflow-y: hidden;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-x: hidden;
	overflow-y: auto;
}

@media screen and (max-width: 980px) {

    #nav {
        display: none;
    }

    .nav a {
        color: #000000;
    }

}

#navPanel {
    -moz-transform: translatex(20em);
    -webkit-transform: translatex(20em);
    -ms-transform: translatex(20em);
    transform: translatex(20em);
    -moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: #5385c1;
    color: #000000;
    height: 100%;
    max-width: 80%;
    width: 20em;
    padding: 0.5em 1.25em;
    z-index: 10003;
    font-family: consolas;
}

    #navPanel.visible {
        -moz-transform: translatex(0);
        -webkit-transform: translatex(0);
        -ms-transform: translatex(0);
        transform: translatex(0);
        box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
        visibility: visible;
    }

    #navPanel a:not(.close) {
        border-top: solid 1px rgba(255, 255, 255, 0.25);
        color: #d4e0ef;
        font-weight: 600;
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
        font-weight: 300;
    }

        #navPanel a:not(.close):first-child {
            border: none;
        }

    #navPanel .close {
        text-decoration: none;
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        border: 0;
        color: #000000;
        cursor: pointer;
        display: block;
        height: 4em;
        padding-right: 1.25em;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        vertical-align: middle;
        width: 5em;
    }

        #navPanel .close:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
            content: '\f00d';
            width: 3em;
            height: 3em;
            line-height: 3em;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
        }

        #navPanel .close:hover {
            color: inherit;
        }


.MainScreen {
    color: white;
    text-align: center;
    position: absolute;
    animation: type 2s steps(10);
    overflow: hidden;
    white-space: nowrap;
}

.MainScreen h1 {
    color: #48de37;
    font-size: 60px;
    font-family: consolas;
}

.MainScreen p {
    color: black;
    font-size: 25px;
    font-family: consolas;
}

.center{
    margin: 0 auto;
}


.footer {
    background-color: #1d1d1e;
    padding: 50px 0;
}

.footer .item.text{
    margin-bottom: 36px;
}

.footer .item.social{
    text-align: center;
}

.footer .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }

.footer .item.social > a:hover {
    background-color: #474350;
  }

.footer .copyright{
    text-align: center;
    padding-top: 5px;
    font-family: consolas;
    font-size: 20px;
    color: white;
}



.footer1 {
    background-color: #1d1d1e;
    padding: 50px 0;
}

.footer1 .item.text{
    margin-bottom: 36px;
}

.footer1 .item.social{
    text-align: center;
}

.footer1 .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }

.footer1 .item.social > a:hover {
    background-color: #474350;
  }

.footer1 .copyright{
    text-align: center;
    padding-top: 5px;
    font-family: consolas;
    font-size: 20px;
    color: white;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #32fa00;
  }

  .center{
    margin: 0 auto;
}

.Pravidla {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.box-container{
    width: 50%;
    padding: 10px;
    margin: 0;
}

.box-container h1 {
    color: white;
    font-family: consolas;
    font-size: 50px;
    margin-bottom: 30px;
}

.box-container p strong {
    color: black;
    font-family: consolas;
    font-size: 22px;
}


.social-link {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out; }
    .social-link:last-child {
      margin-right: 0; }
    .social-link:hover {
      text-decoration: none;
      color: #ffffff; }

.social-link .discord{
    margin-left: -100px;
    margin-top: 150px;
    color: #23272A;
    background-color: #7289DA;
}.social-link .discord:hover {
    text-decoration: none;
    color: #FFFFFF; }

.social-link .youtube{
    margin-top: 150px;
    color: #ffffff;
    background-color: red;
}.social-link .youtube:hover {
    text-decoration: none;
    color: black; }
.social-link a {
    font-size: 45px;
}


.Clenove {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.box-container2{
    width: 52%;
    padding: 10px;
    margin: 0;
}

.box-container2 h1 {
    color: white;
    font-family: consolas;
    font-size: 40px;
    margin-bottom: 15px;
}

.box-container2 p strong {
    color: black;
    font-family: consolas;
    font-size: 18px;
}



.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

    .flex.flex-2 article {
        width: 47%;
    }

    .flex.flex-3 article {
        position: relative;
        width: 28%;
    }

        .flex.flex-3 article:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            right: -2em;
            top: 0;
            border-right: 3px solid #dbdbdb;
            pointer-events: none;
        }

        .flex.flex-3 article:last-child:before {
            border: none;
        }

    .flex.flex-4 .box {
        width: 21%;
    }

    @media screen and (max-width: 980px) {

        .flex.flex-2 article {
            width: 100%;
            margin-bottom: 3em;
        }

            .flex.flex-2 article:last-child {
                margin-bottom: 0;
            }

        .flex.flex-3 {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .flex.flex-3 article {
                width: 100%;
                border-bottom: 1px solid #dbdbdb;
                padding-bottom: 2.5em;
                margin-bottom: 3em;
            }

                .flex.flex-3 article:last-child {
                    border: none;
                    padding-bottom: 0;
                    margin: 0 0 1em 0;
                }

                .flex.flex-3 article:before {
                    display: none;
                }

        .flex.flex-4 .box {
            width: 47%;
        }

    }

    @media screen and (max-width: 480px) {

        .flex.flex-4 .box {
            width: 100%;
        }

    }

    .box {
		border: solid 10px #dbdbdb;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		.box.person {
			border: solid 3px rgba(56, 55, 55, 0.575);
			padding: 2em 2.5em;
			border-radius: 10%;
		}

			.box.person h3 {
                color: white;
				margin: 0;
			}
            .box.person p strong{
                color: black;
                font-size: 15px;
			}

			.box.person .image {
				margin-bottom: 1em;
			}

				.box.person .image img {
					max-width: 100%;
				}

@media screen and (max-width: 750px) {
    .MainScreen {
        padding-top: 400px;
    }

    .social-link {
        margin-top: 300px;
        }
    
        .footer {
            margin-top: 20%;
        }

        .footer1 {
            margin-top: 400px;
        }

        .MainScreen h1 {
            font-size: 50px;
        }
        
        .MainScreen p {
            font-size: 18px;
        }

        #particles-js{
            
        }

        .box-container2 h1 {
            font-size: 30px;
        }
        
        .box-container2 p strong {
            font-size: 15px;
        }

        .box-container h1 {
            font-size: 30px;
        }
        
        .box-container p strong {
            font-size: 16px;
        }

        .box-container{
            width: 70%;
            padding: 10px;
            margin: 0;
        }
}